@import url('https://fonts.googleapis.com/css2?family=Alice&family=Alkatra&family=Farsan&family=Fasthand&family=Great+Vibes&family=Kalam&family=Oswald:wght@200&family=Poppins:wght@200;400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,700&family=Roboto+Mono&family=Roboto:wght@300&family=Urbanist:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #f3f3f3;
}


*{
    font-family: "Poppins",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropdown:hover > .dropdown-content {
	display: block;
}

.fontSize10{
	font-size: 10px;
	font-weight: 500;
}

::-webkit-scrollbar{
    display: none;
}

.footerText{
	font-size: 11px;
	line-height: 20px;
}
.footerText2{
	font-size: 13px;
	line-height: 22px;
}
.footerText3{
	font-size: 14px;
	line-height: 24px;
}

.categoryHeading{
	font-size: 18px;
	line-height: 26px;
}

.fitImage{
background-repeat: no-repeat;
background-size: 100% 100%;
}

.xxsFont{
	font-size: 10px;
	font-weight: 200;
}

.inputOuteLine{
    outline: 6px;
}

/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION START */

.productCarousel.carousel-root {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}

.productCarousel.carousel-root .carousel {
    width: auto;
}

.productCarousel.carousel-root .carousel.carousel-slider {
    width: 100%;
}

.productCarousel.carousel-root .carousel.carousel-slider .slider-wrapper {
    border-radius: 5px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.productCarousel.carousel-root .carousel .thumbs-wrapper {
    margin: 0;
}

.productCarousel.carousel-root .carousel .thumb {
    height: 60px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.productCarousel.carousel-root .carousel .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.productCarousel.carousel-root .carousel .thumb:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
}

@media screen and (max-width: 767px) {
    .productCarousel.carousel-root {
        flex-direction: column;
    }
    .productCarousel.carousel-root .carousel .thumb {
        border: 0;
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    .productCarousel.carousel-root .carousel .thumbs {
        transform: none !important;
        flex-direction: column;
        display: flex;
        gap: 10px;
    }
    .productCarousel.carousel-root .carousel .thumb {
        border: 0;
        padding: 0;
        margin: 0;
    }
}

/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION END */


.ellipsisText {
    text-overflow: ellipsis; 
    width: 250px;
    white-space: nowrap; 
    overflow:hidden;
}
